<main>
  <section class="banner-wrapper">
    <div class="date">
      <span>November 9</span>
      <img src="/assets/calendar_today-24px.svg" alt="calendar icon">
    </div>
    <div class="place">
      <span>地點</span>
      <img src="/assets/map-24px.svg" alt="map icon">
    </div>
  </section>
  <section class="wrapper introduction-wrapper">
    <h3>簡介</h3>
    <div class="description">
      <p>全台最大的 Google 相關技術社群開發者盛會，尤其是台北已經是第五屆囉！</p>
      <p>今年，2019 年，GDG 在台盛開的一年，本次於北、中、南、東都有舉辦。</p>
    </div>
    <div class="content-list">
      <section class="content">
        <div class="content-count">800</div>
        <hr>
        <div class="content-description">參加者</div>
      </section>
      <section class="content">
        <div class="content-count">1</div>
        <hr>
        <div class="content-description">活動天數</div>
      </section>
      <section class="content">
        <div class="content-count">2</div>
        <hr>
        <div class="content-description">議程數</div>
      </section>
      <section class="content">
        <div class="content-count">1</div>
        <hr>
        <div class="content-description">議程軌</div>
      </section>
    </div>
  </section>
  <section class="wrapper speaker-wrapper">
    <h3>明星講者</h3>
    <div class="speaker-list">
      <section class="speaker">
        <div class="speaker-headshot">
          <img src="http://fakeimg.pl/250x250/ffffff/282828/?text=speaker" alt="speaker-headshot">
        </div>
        <h4>姓名</h4>
        <div class="speaker-description">
          <span class="city">City</span>
          <span class="country">Country</span>
        </div>
      </section>
      <section class="speaker">
        <div class="speaker-headshot">
          <img src="http://fakeimg.pl/250x250/ffffff/282828/?text=speaker" alt="speaker-headshot">
        </div>
        <h4>姓名</h4>
        <div class="speaker-description">
          <span class="city">City</span>
          <span class="country">Country</span>
        </div>
      </section>
      <section class="speaker">
        <div class="speaker-headshot">
          <img src="http://fakeimg.pl/250x250/ffffff/282828/?text=speaker" alt="speaker-headshot">
        </div>
        <h4>姓名</h4>
        <div class="speaker-description">
          <span class="city">City</span>
          <span class="country">Country</span>
        </div>
      </section>
      <section class="speaker">
        <div class="speaker-headshot">
          <img src="http://fakeimg.pl/250x250/ffffff/282828/?text=speaker" alt="speaker-headshot">
        </div>
        <h4>姓名</h4>
        <div class="speaker-description">
          <span class="city">City</span>
          <span class="country">Country</span>
        </div>
      </section>
    </div>
    <div class="link">
      <a href="##">觀看所有講者</a>
      <img src="/assets/arrow-right.png" alt="">
    </div>
  </section>
  <section class="place-wrapper">
    <img src="/assets/maps.png" alt="map">
    <div class="description">
      <h3>位置</h3>
      <p>介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</p>
      <div class="address">
        <span>地址</span>
        <img src="/assets/directions-24px.svg" alt="">
      </div>
    </div>
  </section>
  <section class="wrapper partner-wrapper">
    <h3>合作夥伴</h3>
    <section class="partner-list-wrapper">
      <h4>合作夥伴</h4>
      <section class="partner-list">
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
      </section>
    </section>
    <section class="partner-list-wrapper">
      <h4>Google</h4>
      <section class="partner-list">
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
      </section>
    </section>
    <section class="partner-list-wrapper">
      <h4>白金贊助</h4>
      <section class="partner-list">
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
        <div class="partner">
          <img src="http://fakeimg.pl/295x135/ffffff/282828/?text=partner" alt="">
        </div>
      </section>
    </section>
    <div class="link">
      <a href="##">成為贊助商</a>
      <img src="/assets/arrow-right.png" alt="">
    </div>
  </section>
</main>
