<main>
  <section class="banner-wrapper">
    <img [src]="bannerImage" alt="">
    <div class="date">
      <span>{{ detail.date | date: 'MMMM dd' }}</span>
      <img src="/assets/calendar_today-24px.svg" alt="calendar icon">
    </div>
    <div class="place">
      <span>{{ detail.location.name}}</span>
      <img src="/assets/map-24px.svg" alt="map icon">
    </div>
  </section>
  <section class="wrapper introduction-wrapper">
    <h3>簡介</h3>
    <div class="description">
      <p>{{ detail.introduction }}</p>
    </div>
    <div class="content-list">
      <section class="content">
        <div class="content-count">{{ detail.stats.attendence }}</div>
        <hr>
        <div class="content-description">參加者</div>
      </section>
      <section class="content">
        <div class="content-count">{{ detail.stats.days }}</div>
        <hr>
        <div class="content-description">活動天數</div>
      </section>
      <section class="content">
        <div class="content-count">{{ detail.stats.sessions }}</div>
        <hr>
        <div class="content-description">議程數</div>
      </section>
      <section class="content">
        <div class="content-count">{{ detail.stats.tracks }}</div>
        <hr>
        <div class="content-description">議程軌</div>
      </section>
    </div>
  </section>
  <section class="wrapper speaker-wrapper">
    <h3>明星講者</h3>
    <div class="speaker-list">
      <section class="speaker" *ngFor="let speaker of speakers">
        <div class="speaker-headshot">
          <img [src]="speaker.speaker_image">
        </div>
        <h4>{{ speaker.speaker_name }}</h4>
        <!-- <div class="speaker-description">
          <span class="city">{{ speaker.company }}</span>
          <span class="country">{{ speaker.country }}</span>
        </div> -->
      </section>
    </div>
    <div class="link">
      <a [routerLink]="['./speaker']">觀看所有講者</a>
      <img src="/assets/arrow-right.png" alt="">
    </div>
  </section>
  <section class="place-wrapper">
    <iframe [src]="detail.location.googlemap" height="800px"></iframe>
    <div class="description">
      <h3>位置</h3>
      <p>{{ detail.location.name}}</p>
      <div class="address">
        <span>{{detail.location.address}}</span>
        <img src="/assets/directions-24px.svg" alt="">
      </div>
    </div>
  </section>
  <section class="wrapper partner-wrapper" *ngIf="!isEmptyObject(sponsors)">
    <h3>合作夥伴</h3>
    <section class="partner-list-wrapper" *ngFor="let level of sponsors | keyvalue">
      <h4>{{level.key}}</h4>
      <section class="partner-list">
        <div class="partner" *ngFor="let sponsor of level.value">
          <a [href]="sponsor.url" target="_blank" rel="noopener">
            <img [src]="sponsor.image" [alt]="sponsor.name">
          </a>
        </div>
      </section>
    </section>
    <!-- <div class="link">
      <a href="##">成為贊助商</a>
      <img src="/assets/arrow-right.png" alt="">
    </div> -->
  </section>
</main>
