<main>
  <section class="banner-wrapper">
    <img [src]="detail.image" alt="" />
    <!-- <div class="date">
      <span>{{ detail.date | date: 'MMMM dd' }}</span>
      <img src="/assets/calendar_today-24px.svg" alt="calendar icon" />
    </div>
    <div class="place">
      <span>{{ detail.location.name }}</span>
      <img src="/assets/map-24px.svg" alt="map icon" />
    </div> -->
  </section>
  <section class="wrapper introduction-wrapper">
    <h3>簡介</h3>
    <div class="description">
      <p>{{ detail.descText }}</p>
    </div>
    <div class="content-list">
      <section class="content">
        <div class="content-count">{{ detail.stats.attendence }}</div>
        <hr />
        <div class="content-description">參加者</div>
      </section>
      <section class="content">
        <div class="content-count">{{ detail.stats.days }}</div>
        <hr />
        <div class="content-description">活動天數</div>
      </section>
      <section class="content">
        <div class="content-count">{{ detail.stats.sessions }}</div>
        <hr />
        <div class="content-description">議程數</div>
      </section>
      <section class="content">
        <div class="content-count">{{ detail.stats.tracks }}</div>
        <hr />
        <div class="content-description">議程軌</div>
      </section>
    </div>
  </section>
  <section class="wrapper speaker-wrapper" *ngIf="speakers.length>0">
    <h3>明星講者</h3>
    <div class="speaker-list">
      <section class="speaker" *ngFor="let speaker of speakers">
        <div class="speaker-headshot">
          <img [src]="speaker.speaker_image" />
        </div>
        <h4>{{ speaker.speaker_name }}</h4>
        <!-- <div class="speaker-description">
          <span class="city">{{ speaker.company }}</span>
          <span class="country">{{ speaker.country }}</span>
        </div> -->
      </section>
    </div>
    <div class="link">
      <a [routerLink]="['./speaker']">觀看所有講者</a>
      <img src="/assets/arrow-right.png" alt="" />
    </div>
  </section>
  <section class="tickets-block">
    <div class="tickets-wrapper container">
      <h1 class="container-title">票務資訊</h1>
      <div class="tickets">
        <a class="ticket-item card" target="_blank" rel="noopener noreferrer"
           [href]="detail.links.registration">
          <div class="header">
            <h4>NTD</h4>
          </div>
          <div class="content" layout="" vertical="" flex-auto="">
            <div class="ticket-price-wrapper">
              <div class="price">$0</div>
              <div class="discount"></div>
            </div>
            <div class="type-description" layout="" vertical="" flex-auto="" center-justified="">
              <div class="ticket-dates" hidden="">-</div>
              <div class="ticket-info">Requires valid student/lecturer ID</div>
            </div>
          </div>
          <div class="actions">
            <button class="paper-button">
              報名
            </button>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="place-wrapper">
    <iframe height="800" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            [src]="mapUrl"></iframe>
    <div class="description">
      <h3>位置</h3>
      <p>{{ detail.location.mapTitle }}</p>
      <div class="address">
        <span>{{ detail.location.mapSubTitle }}</span>
        <a [href]="mapLink" target="_blank" rel="noopener">
          <img src="/assets/directions-24px.svg" alt="" />
        </a>
      </div>
    </div>
  </section>
  <section class="wrapper partner-wrapper" *ngIf="!isEmptyObject(sponsors)">
    <h3>合作夥伴</h3>
    <section class="partner-list-wrapper" *ngFor="let level of sponsors | keyvalue">
      <div *ngFor="let sponsor of level.value">
        <h4>{{ sponsor.desc }}</h4>
        <section class="partner-list">
          <div class="partner partner-{{level.key}}">
            <a [href]="sponsor.url" target="_blank" rel="noopener">
              <img [src]="sponsor.image" [alt]="sponsor.name" />
            </a>
          </div>
        </section>
      </div>
    </section>
    <!-- <div class="link">
      <a href="##">成為贊助商</a>
      <img src="/assets/arrow-right.png" alt="">
    </div> -->
  </section>
</main>
