<div *ngIf="data">
  <nav>
    <div class="navbar">
      <div class="menu-button">
        <label for="menu-control">
          <img src="/assets/menu-24px.svg" alt="menu" />
        </label>
      </div>
      <h1 class="logo">
        <a routerLink="/">
          <img src="/assets/Group 6.svg" alt="Google Develope Group" />
        </a>
      </h1>
      <div>
        <!------------------- menu-items start-------------------->
        <input type="checkbox" name="" id="menu-control" #menuControl />
        <label class="hide-menu" for="menu-control"></label>
        <section class="menu-items">
          <div class="menu-items-logo">
            <img src="/assets/Group 6.svg" alt="Google Develope Group" />
          </div>
          <ul>
            <li>
              <a
                routerLinkActive="home"
                [routerLink]="['./']"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="hidMenu()"
                >首頁</a
              >
            </li>
            <li>
              <a
                routerLinkActive="home"
                [routerLink]="['./speaker']"
                (click)="hidMenu()"
                >講者</a
              >
            </li>
            <li>
              <a
                routerLinkActive="home"
                [routerLink]="['./agenda']"
                (click)="hidMenu()"
                >議程</a
              >
            </li>
            <li>
              <a
                routerLinkActive="home"
                [routerLink]="['./team']"
                (click)="hidMenu()"
                >團隊</a
              >
            </li>
            <li>
              <a
                [href]="data?.event.links.registration"
                target="_blank"
                rel="noopener"
              >
                報名
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer>
    <div class="wrapper">
      <button class="topping" (click)="goTop()">
        <img src="/assets/keyboard_arrow_up-24px.svg" alt="Back to top." />
      </button>
      <!-- <section class="link-container">
        <div class="follow">
          <h4>Follow us</h4>
          <div class="link">
            <a href=""><img src="/assets/placeholder2.png" alt=""></a>
            <a href=""><img src="/assets/placeholder2.png" alt=""></a>
            <a href=""><img src="/assets/placeholder2.png" alt=""></a>
            <a href=""><img src="/assets/placeholder2.png" alt=""></a>
          </div>
        </div>
        <div class="share">
          <h4>分享</h4>
          <div class="link">
            <a href=""><img src="/assets/placeholder2.png" alt=""></a>
            <a href=""><img src="/assets/placeholder2.png" alt=""></a>
            <a href=""><img src="/assets/placeholder2.png" alt=""></a>
            <a href=""><img src="/assets/placeholder2.png" alt=""></a>
          </div>
        </div>
      </section> -->
      <hr />
      <!-- <section class="brand-container">
        <a class="local-link" href="#GDG_taichung">
          <img src="/assets/g10.svg" alt="google develope local group">
        </a>
        <p class="copyright">社群活動指引</p>
      </section> -->
    </div>
  </footer>
</div>
