<!-- <header></header> -->
<main>
  <section class="cover-wrapper">
    <picture>
      <source media="(min-width: 768px)" srcset="/assets/devfest-banner.svg" />
      <img src="/assets/devfest-banner-mobile.svg" alt="Banner" />
    </picture>
    <!-- <a routerLink="/cfp">Call For Speakers</a> -->
  </section>
  <section class="introduction-wrapper">
    <h3>GDG DevFest 開跑了!</h3>
    <div class="description">
      <p>
        全台最大的 Google 相關技術社群開發者盛會，尤其是台北已經是第五屆囉！
      </p>
      <p>今年，2019 年，GDG 在台盛開的一年，本次於北、中、南、東都有舉辦。</p>
    </div>
  </section>
  <!-- <section class="map-wrapper"></section> -->
  <section class="place-wrapper">
    <h3>各地活動網頁</h3>
    <div class="place-list">
      <section class="place">
        <a routerLink="/taichung">台中</a>
        <span>2019-11-09</span>
      </section>
      <section class="place">
        <a routerLink="/taipei">台北</a>
        <span>2019-12-01</span>
      </section>
      <section class="place">
        <!-- <a routerLink="/hualien">花蓮</a> -->
        <a href="https://gdg-hualien.site/">花蓮</a>
        <span>2019-11-16</span>
      </section>
      <section class="place">
        <a routerLink="/kaohsiung">高雄</a>
        <span>2019-12-07</span>
      </section>
    </div>
  </section>
</main>
<!-- <footer></footer> -->
