<section class="landing">
  <picture>
    <source media="(min-width: 768px)" srcset="assets/logo.svg" />
    <img src="assets/logo-mobile.svg" alt="Sample" class="logo" />
  </picture>
  <picture>
    <source media="(min-width: 768px)" srcset="assets/landing.svg" />
    <img src="assets/landing-mobile.svg" alt="Sample" class="main" />
  </picture>
</section>
<section class="events">
  <h2>GDG FevFest 開跑了!</h2>
  <p>
    全台最大的 Google 相關技術社群開發者盛會，尤其是台北已經是第五屆囉！
    今年，2019 年，GDG 在台盛開的一年， 本次於北、中、南、東都有舉辦。
  </p>
  <div class="event-dates">
    <div class="event taipei">
      <img src="assets/image1.svg" class="img" />
      <div class="info">
        <span class="location">台北</span>
        <time class="event-date">2019-12-01</time>
      </div>
    </div>
    <div class="event hualien">
      <img src="assets/image2.svg" class="img" />
      <div class="info">
        <span class="location">花蓮</span>
        <time class="event-date">2019-11-16</time>
      </div>
    </div>
    <div class="event taichung">
      <img src="assets/image3.svg" class="img" />
      <div class="info">
        <span class="location">台中</span>
        <time class="event-date">2019-11-09</time>
      </div>
    </div>
    <div class="event kaohsiung">
      <img src="assets/image4.svg" class="img" />
      <div class="info">
        <span class="location">高雄</span>
        <time class="event-date">2019-12-08</time>
      </div>
    </div>
  </div>
</section>
<section class="current">
  <h2>我們正在募集講者！</h2>
  <p>
    你最近有玩了什麼有趣的東西嗎？你有什麼踩雷甘苦談嗎？
    不和人分享一下不痛快嗎？那你就是我們要找的人！
  </p>
</section>
<section class="ideas">
  <h2>還沒想好講什麼嗎？<br />我們提供你一些想法</h2>
  <p>
    以下是我們提供的一些方向，但不限於這些範圍。
    <br />
    只要你有任何很酷的東西想分享的，請不吝來這裡與大家分享。
  </p>
  <article class="category mobile">
    <div class="img">
      <img src="assets/category-mobile.svg" />
    </div>
    <div class="content">
      <h3>MOBILE</h3>
      <ul>
        <li>Kotlin</li>
        <li>Flutter / Dart</li>
        <li>Android Architecture Components</li>
        <li>Firebase</li>
        <li>What's new in Android 10?</li>
        <li>Google Play</li>
        <li>Play Services SDK</li>
        <li>Play tools for Game Devs</li>
        <li>Google Assistant (AoG)</li>
        <li>Android Things & IoT</li>
        <li>App Analytics</li>
        <li>Android Slices</li>
        <li>Android Studio Build</li>
        <li>Material Design</li>
        <li>Google Maps</li>
        <li>Continuous Integration</li>
        <li>Writing Efficient Libraries</li>
        <li>Security by ProGuard / R8</li>
        <li>Offline First App</li>
        <li>GCM & FCM</li>
        <li>Others</li>
      </ul>
    </div>
  </article>
  <article class="category web">
    <div class="img">
      <img src="assets/category-web.svg" />
    </div>
    <div class="content">
      <h3>WEB</h3>
      <ul>
        <li>Polymer</li>
        <li>WebXR, AR & VR</li>
        <li>AMP</li>
        <li>PWA</li>
        <li>Angular</li>
        <li>Chrome Dev Tools</li>
        <li>Web Performance</li>
        <li>Web Accessibility</li>
        <li>Web Components</li>
        <li>Chrome Extensions</li>
        <li>Lighthouse</li>
        <li>Chrome UX report</li>
        <li>Google Search</li>
        <li>Continuous Integration</li>
        <li>Offline First App</li>
        <li>Ohters</li>
      </ul>
    </div>
  </article>
  <article class="category cloud">
    <div class="img">
      <img src="assets/category-cloud.svg" />
    </div>
    <div class="content">
      <h3>CLOUD</h3>
      <ul>
        <li>ML Kit</li>
        <li>Firebase</li>
        <li>TensorFlow / Lite</li>
        <li>AIY</li>
        <li>Cloud IoT Core</li>
        <li>Microservices Architecture</li>
        <li>Containers & Kubernetes</li>
        <li>Security in Docker</li>
        <li>Big Data</li>
        <li>Machine Learning</li>
        <li>Artifical Intelligence</li>
        <li>Serverless / Cound Function</li>
        <li>Sentimental Analysis</li>
        <li>Others</li>
      </ul>
    </div>
  </article>
</section>
<section class="deadline">
  <h2>講者募集截止時間</h2>
  <div class="event-dates">
    <div class="event">
      <span class="location">台北</span>
      <time class="event-date">2019-10-31</time>
    </div>
    <div class="event">
      <span class="location">花蓮</span>
      <time class="event-date">2019-10-31</time>
    </div>
    <div class="event">
      <span class="location">台中</span>
      <time class="event-date">2019-10-31</time>
    </div>
    <div class="event">
      <span class="location">高雄</span>
      <time class="event-date">2019-10-31</time>
    </div>
  </div>
</section>
<section class="cfp">
  <h2>馬上報名講者！</h2>
  <div class="links">
    <div class="link">
      <a href="#">台北</a>
    </div>
    <div class="link">
      <a href="#">台中</a>
    </div>
    <div class="link">
      <a href="#">花蓮</a>
    </div>
    <div class="link">
      <a href="#">高雄</a>
    </div>
  </div>
</section>
<footer class="footer">
  <a href="#">
    <picture>
      <source media="(min-width: 768px)" srcset="assets/gdg.svg" />
      <img src="assets/gdg-mobile.svg" alt="GDG" />
    </picture>
  </a>
  <a href="#">
    <picture>
      <source media="(min-width: 768px)" srcset="assets/gdg-cloud.svg" />
      <img src="assets/gdg-cloud-mobile.svg" alt="GDG Cloud" />
    </picture>
  </a>
  <a href="#">
    <picture>
      <source media="(min-width: 768px)" srcset="assets/wtm.svg" />
      <img src="assets/wtm-mobile.svg" alt="Women Techmakers" class="wtm" />
    </picture>
  </a>
</footer>
