<section class="landing">
  <picture>
    <source media="(min-width: 768px)" srcset="assets/logo.svg" />
    <img src="assets/logo-mobile.svg" alt="Logo" class="logo" />
  </picture>
  <picture>
    <source media="(min-width: 768px)" srcset="assets/landing.svg" />
    <img src="assets/landing-mobile.svg?v=2" alt="Landing image" class="main" />
  </picture>
</section>
<section class="events">
  <h2>{{ 'events.title' | translate }}</h2>
  <p>
    {{ 'events.description' | translate }}
  </p>
  <div class="event-dates">
    <div class="event taipei">
      <img src="assets/image1.svg" class="img" alt="Taipei" />
      <div class="info">
        <span class="location"> {{ 'city.taipei' | translate }}</span>
        <time class="event-date">2019-12-01</time>
      </div>
    </div>
    <div class="event hualien">
      <img src="assets/image2.svg" class="img" alt="hualien" />
      <div class="info">
        <span class="location">{{ 'city.hualien' | translate }}</span>
        <time class="event-date">2019-11-16</time>
      </div>
    </div>
    <div class="event taichung">
      <img src="assets/image3.svg" class="img" alt="taichung" />
      <div class="info">
        <span class="location">{{ 'city.taichung' | translate }}</span>
        <time class="event-date">2019-11-09</time>
      </div>
    </div>
    <div class="event kaohsiung">
      <img src="assets/image4.svg" class="img" alt="kaohsiung" />
      <div class="info">
        <span class="location">{{ 'city.kaohsiung' | translate }}</span>
        <time class="event-date">2019-12-07</time>
      </div>
    </div>
  </div>
</section>
<section class="current">
  <h2>{{ 'current.title' | translate }}</h2>
  <p>
    {{ 'current.description' | translate }}
  </p>
</section>
<section class="ideas">
  <h2 [innerHtml]="'ideas.title' | translate"></h2>
  <p [innerHtml]="'ideas.description' | translate">
  </p>
  <article class="category mobile">
    <div class="img">
      <img src="assets/category-mobile.svg" alt="category mobile" />
    </div>
    <div class="content">
      <h3>MOBILE</h3>
      <ul>
        <li>Kotlin</li>
        <li>Flutter / Dart</li>
        <li>Android Architecture Components</li>
        <li>Firebase</li>
        <li>What's new in Android 10?</li>
        <li>Google Play</li>
        <li>Play Services SDK</li>
        <li>Play tools for Game Devs</li>
        <li>Google Assistant (AoG)</li>
        <li>Android Things & IoT</li>
        <li>App Analytics</li>
        <li>Android Slices</li>
        <li>Android Studio Build</li>
        <li>Material Design</li>
        <li>Google Maps</li>
        <li>Continuous Integration</li>
        <li>Writing Efficient Libraries</li>
        <li>Security by ProGuard / R8</li>
        <li>Offline First App</li>
        <li>GCM & FCM</li>
        <li>Others</li>
      </ul>
    </div>
  </article>
  <article class="category web">
    <div class="img">
      <img src="assets/category-web.svg" alt="category web" />
    </div>
    <div class="content">
      <h3>WEB</h3>
      <ul>
        <li>Polymer</li>
        <li>WebXR, AR & VR</li>
        <li>AMP</li>
        <li>PWA</li>
        <li>Angular</li>
        <li>Chrome Dev Tools</li>
        <li>Web Performance</li>
        <li>Web Accessibility</li>
        <li>Web Components</li>
        <li>Chrome Extensions</li>
        <li>Lighthouse</li>
        <li>Chrome UX report</li>
        <li>Google Search</li>
        <li>Continuous Integration</li>
        <li>Offline First App</li>
        <li>Ohters</li>
      </ul>
    </div>
  </article>
  <article class="category cloud">
    <div class="img">
      <img src="assets/category-cloud.svg" alt="category cloud" />
    </div>
    <div class="content">
      <h3>CLOUD</h3>
      <ul>
        <li>ML Kit</li>
        <li>Firebase</li>
        <li>TensorFlow / Lite</li>
        <li>AIY</li>
        <li>Cloud IoT Core</li>
        <li>Microservices Architecture</li>
        <li>Containers & Kubernetes</li>
        <li>Security in Docker</li>
        <li>Big Data</li>
        <li>Machine Learning</li>
        <li>Artifical Intelligence</li>
        <li>Serverless / Cound Function</li>
        <li>Sentimental Analysis</li>
        <li>Others</li>
      </ul>
    </div>
  </article>
</section>
<section class="deadline">
  <h2>{{'deadline.title' | translate }}</h2>
  <div class="event-dates">
    <div class="event taipei">
      <img src="assets/image1.svg" class="img" alt="taipei" />
      <div class="info">
        <span class="location"> {{ 'city.taipei' | translate }}</span>
        <time class="event-date">2019-10-31</time>
      </div>
    </div>
    <div class="event hualien">
      <img src="assets/image2.svg" class="img" alt="hualien" />
      <div class="info">
        <span class="location">{{ 'city.hualien' | translate }}</span>
        <time class="event-date">2019-10-31</time>
      </div>
    </div>
    <div class="event taichung">
      <img src="assets/image3.svg" class="img" alt="taichung" />
      <div class="info">
        <span class="location">{{ 'city.taichung' | translate }}</span>
        <time class="event-date">2019-10-31</time>
      </div>
    </div>
    <div class="event kaohsiung">
      <img src="assets/image4.svg" class="img" alt="kaohsiung" />
      <div class="info">
        <span class="location">{{ 'city.kaohsiung' | translate }}</span>
        <time class="event-date">2019-10-31</time>
      </div>
    </div>
  </div>
</section>
<section class="cfp">
  <h2>{{ 'cfp.title' | translate }}</h2>
  <div class="links">
    <div class="link">
      <a href="https://sessionize.com/gdg-devfest-in-taiwan-2019/"
         target="_blank">{{ 'city.taipei' | translate }}</a>
    </div>
    <div class="link">
      <a href="https://sessionize.com/gdg-devfest-in-taiwan-2019/"
         target="_blank">{{ 'city.hualien' | translate }}</a>
    </div>
    <div class="link">
      <a href="https://sessionize.com/gdg-devfest-in-taiwan-2019/"
         target="_blank">{{ 'city.taichung' | translate }}</a>
    </div>
    <div class="link">
      <a href="https://sessionize.com/gdg-devfest-in-taiwan-2019/"
         target="_blank">{{ 'city.kaohsiung' | translate }}</a>
    </div>
  </div>
</section>
<footer class="footer">
  <a href="#">
    <picture>
      <source media="(min-width: 768px)" srcset="assets/gdg.svg" />
      <img src="assets/gdg-mobile.svg" alt="GDG" />
    </picture>
  </a>
  <a href="#">
    <picture>
      <source media="(min-width: 768px)" srcset="assets/gdg-cloud.svg?v=2" />
      <img src="assets/gdg-cloud-mobile.svg" alt="GDG Cloud" />
    </picture>
  </a>
  <a href="#">
    <picture>
      <source media="(min-width: 768px)" srcset="assets/wtm.svg" />
      <img src="assets/wtm-mobile.svg" alt="Women Techmakers" class="wtm" />
    </picture>
  </a>
</footer>
