<header>
  <h2>講者</h2>
  <p>從 Googler、合作夥伴以及社群講者們瞭解最新技術資訊，我們會在此不定期加入講者的相關資訊，<span>歡迎您在此持續關注我們的訊息。</span></p>
</header>
<main>
  <div class="wrapper">
    <div class="card">
      <figure></figure>
      <div class="content">
        <h3>Name姓名</h3>
        <p>Company,Country</p>
        <a href="##" target="_blank"><img src="/assets/facebook-f-brands.svg" alt=""></a>
        <a href="##" target="_blank"><img src="/assets/linkedin-in-brands.svg" alt=""></a>
      </div>
      <!-- ------------------------- 彈出視窗 ------------------------- -->
      <section class="popovers">
        <header class="popovers-header">
          <div class="button-group">
            <button class="arrow">
              <img src="/assets/arrow_back_ios-24px.svg" alt="返回上一頁">
            </button>
            <button class="cross">
              <img src="/assets/close-24px.svg" alt="關閉視窗">
            </button>
          </div>
          <figure></figure>
          <h3>Name姓名</h3>
        </header>
        <main class="popovers-main">
          <div class="wrapper">
            <section class="popovers-info">
              <p>City,Country</p>
              <p>專業</p>
              <p>介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</p>
              <a href="##" target="_blank"><img src="/assets/facebook-f-brands.svg" alt=""></a>
              <a href="##" target="_blank"><img src="/assets/linkedin-in-brands.svg" alt=""></a>
            </section>
            <section class="popovers-schedule">
              <h4>議程</h4>
              <h3>議程名稱</h3>
              <p>November 9 , 15:30 - 16:30</p>
              <p>(空間or教室)</p>
              <span class="popovers-tag">Android</span>
            </section>
          </div>
        </main>
      </section>
      <!-- ------------------------- 彈出視窗 ------------------------- -->
    </div>
  </div>
</main>
