<section>
  <header class="popovers-header">
    <div class="button-group">
      <button class="cross">
        <img src="/assets/close-24px.svg" alt="關閉視窗" (click)="close()">
      </button>
    </div>
    <figure>
      <img [src]="speaker.speaker_image">
    </figure>
    <h3>{{ speaker.speaker_name }}</h3>
  </header>
  <main class="popovers-main">
    <div class="wrapper">
      <section class="popovers-info">
        <p>{{ speaker.speaker_desc }}</p>
      </section>
      <section class="popovers-info">
        <h3>議程</h3>
        <p>{{ speaker.speaker_session }}</p>
      </section>
    </div>
  </main>
</section>
