<header>
  <h2>團隊</h2>
  <p>
    Google 是全世界知名的公司，每個人都在用 Google 搜尋，用 Google
    地圖查路線資訊，並用 Gmail 互相聯絡。對一般使用者來說，Google
    所提供的服務也許剛剛好，但我們不會滿足於現狀。開發者們需要更多：API
    程式介面、因應服務規模擴增而來的問題處理、複雜的技術堆疊等等，而 Google
    開發者社群 (GDG) 就是為了解決這些需求而成立的。我們是開放並由志工所組成的
    Google 技術社群，我們創造令人感興趣的專案，並以熱情分享使用 Google
    技術的相關經驗。我們的目的是創造讓產業最佳專家們與台灣開發者們有建立連結的空間，以讓科技的發展更加蓬勃發展！
  </p>
</header>
<main>
  <div class="wrapper">
    <section *ngFor="let group of teams">
      <h4>{{ group.key }}</h4>
      <div class="cards">
        <div class="card" *ngFor="let member of group.members">
          <figure>
            <img [src]="member.image" />
          </figure>
          <div class="content">
            <h3>{{ member.name }}</h3>
            <p>{{ member.contribution }}</p>
            <a
              [href]="member.fb_url"
              target="_blank"
              rel="noopener"
              *ngIf="member.fb_url"
              ><img src="/assets/facebook-f-brands.svg" alt=""
            /></a>

            <a
              [href]="member.linkedin_url"
              target="_blank"
              rel="noopener"
              *ngIf="member.linkedin_url"
              ><img src="/assets/linkedin-in-brands.svg" alt=""
            /></a>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
