<!--------------------------- header ------------------------------>
<header class="main-header">
  <div class="wrapper">
    <h2>議程</h2>
    <div class="schedule-date">
      <span class="month">{{ startDate | date: 'LLLL' }}</span><span
            class="day">{{ startDate | date: 'dd' }}</span>
    </div>
  </div>
</header>
<main [ngStyle]="{ '--track-number': tracks.length }">
  <section *ngFor="let section of sessionsByStartTime | keyvalue">
    <div class="schedule-time">
      <span class="hour">{{ section.key | date: 'HH' }}</span><span
            class="minute">{{ section.key | date: 'mm' }}</span>
    </div>
    <div class="lecture-container">
      <ng-container *ngFor="let lecture of section.value">
        <div class="lecture-content lecture-position"
             [ngClass]="{'full-width': lecture.isOnly && !lecture.isHidden, 'isHidden':lecture.isHidden }"
             *ngIf="!(lecture.isOnly && lecture.isHidden)">
          <div class="lecture-title">
            <h4>{{ lecture.session_title }}</h4>
            <div class="tag-track">{{lecture.track_name }}</div>
            <p [innerHtml]="(lecture.session_desc ||'') | nltobr"></p>
          </div>
          <p class="length">{{ lecture.session_total_time }} min</p>
          <div class="speaker">
            <div class="speaker-intro" *ngFor="let speaker of getSpeaker(lecture.speaker_id)">
              <img [src]="speaker.speaker_image" alt="Speaker's photo." />
              <div>
                <h4>{{ speaker.speaker_name }}</h4>
              </div>
            </div>
            <div class="speaker-tech">
              <span class="tag-light" *ngFor="let tag of lecture.tags">{{
              tag
            }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
  <!-- <section>
    <div class="schedule-time">
      <span class="hour">09</span><span class="minute">45</span>
    </div>
    <div class="lecture-container">
      <div class="lecture-content lecture-position">
        <div>
          <div class="lecture-title">
            <h4>(議程名稱)</h4>
            <p>(語言)</p>
          </div>
          <p class="lecture-level">(內容等級)</p>
          <p class="length">45 min</p>
          <div class="speaker">
            <div class="speaker-intro">
              <img src="/assets/placeholder.png" alt="Speaker's photo.">
              <div>
                <h4>講者名字講者名字</h4>
                <p><span>Company</span>/<span>Country</span></p>
              </div>
            </div>
            <div class="speaker-tech">
              <span class="tag-light">Android</span>
              <span class="tag-light">Android</span>
              <span class="tag-light">Android</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</main>

<!------------------- arrival-popovers start------------------->
<!-- <div class="bg-filter arrival-popovers"></div>
<section class="popovers arrival-popovers">
  <div class="popovers-header">
    <div class="wrapper">
      <div class="button-group">
        <button class="arrow">
          <img src="/assets/arrow_back_ios-24px.svg" alt="Arrow back.">
        </button>
        <button class="cross">
          <img src="/assets/close-24px.svg" alt="Cross back.">
        </button>
      </div>
      <h4>報到</h4>
    </div>
  </div>
  <div class="wrapper popovers-info">
    <div class="popovers-time">
      <span>November</span><span>9</span><span>,</span><span>08:30</span><span>-</span><span>09:30</span>
    </div>
    <div class="popovers-box">
      <div class="popovers-space">(空間or教室)</div>
    </div>
    <div class="popovers-intro">介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</div>
  </div>
</section> -->
<!------------------- arrival-popovers end--------------------->

<!------------------- lecture-popovers start ------------------>
<!-- <div class="bg-filter lecture-popovers"></div>
<section class="popovers lecture-popovers">
  <div class="popovers-header">
    <div class="wrapper">
      <div class="button-group">
        <button class="arrow">
          <img src="/assets/arrow_back_ios-24px.svg" alt="">
        </button>
        <button class="cross">
          <img src="/assets/close-24px.svg" alt="">
        </button>
      </div>
      <h4 class="popovers-lecture-title">議程名稱</h4>
      <span class="popovers-tag tag-light">android</span>
    </div>
  </div>
  <div class="wrapper">
    <div class="popovers-info">
      <div class="popovers-time">
        <span>November</span><span>9</span><span>,</span><span>08:30</span><span>-</span><span>09:30</span>
      </div>
      <div class="popovers-box">
        <div class="popovers-space">(空間or教室)</div>
        <div class="popovers-level">內容等級</div>
      </div>
      <div class="popovers-intro">介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</div>
    </div>
    <div class="popovers-speaker">
      <h2>講者</h2>
      <div>
        <div class="photo"><img src="/assets/speaker1.png" alt="Speaker's photo."></div>
        <div class="info">
          <h4>Name姓名</h4>
          <p class="group"><span>company</span>,<span>country</span></p>
        </div>
      </div>
      <div>
        <div class="photo"><img src="/assets/speaker2.png" alt="Speaker's photo."></div>
        <div class="info">
          <h4>Name姓名</h4>
          <p class="group"><span>company</span>,<span>country</span></p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!------------------- lecture-popovers end -------------------->
